@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Colocar o navegador na largura 360px, por gentileza */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 360px;
    background-color: #FFFFFF;
    font-family: Montserrat;
    color: #000000;
}

#bannerpp{
    width: 360px;
    margin: 0px 0px 32px 0px;
}

h1{
    width: 250px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0px 55px 16px;
}

#ppcard{
    width: 241.38px;
    margin: 0px 59.62px 24.37px 59px;
}

#paragrafo{
    width: 300px;
    font-size: 14.5px;
    line-height: 18px;
    letter-spacing: 0.01px;
    text-align: center;
    margin: 0px 30px 26px;
}

#vantagens{
    margin: 0px 58px 34.89px;
}

#redesociais{
    margin: 0px 85px 16.99px;
}

.txt-rodape{
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.01px;
    color: #727272;
    text-align: center;
    margin: 0px 0px 16px;
}